body {
	background-image: url("Chopin_D1.jpg");
	background-repeat: no-repeat;  
	background-attachment: fixed;
	background-size:cover;
} 


.form-group{
	color: rgba(37, 0, 11,1);
}

.form-text{
	color: rgba(37, 0, 11,1);
}

.btn-primary{
	background-color: rgba(40, 32, 34, 1);
	border-color: rgba(40, 32, 34,0.2);
}

.btn-primary:hover{
	background-color: rgba(37, 0, 11, 1);
	border-color: rgba(37, 0, 11,0.2);
}