body {
	background-image: url("Chopin_D1.jpg");
	background-repeat: no-repeat;  
	background-attachment: fixed;
	background-size:cover;
} 

h1{
	color: white;
	font-family: romanesco;
	font-size: 48px;
	display:flex;
	justify-content: center;
}


h4{
	color: gold;
}

p{
	color: white;
	display:flex;
	justify-content: center;
}