body {
	background-image: url("Chopin_D1.jpg");
	background-repeat: no-repeat;  
	background-attachment: fixed;
	background-size:cover;
} 

.jumbotron{
	color: white;
	background-color: rgba(93, 102, 111, 0.6)
}

h1{
	color: white;
	font-family: romanesco;
	font-size: 48px;
	display:flex;
	justify-content: center;
}

.btn-primary{
	background-color: rgba(40, 32, 34, 1);
	border-color: rgba(40, 32, 34,0.2);
	position: absolute;
	top: 80%;
}

.btn-primary:hover{
	background-color: rgba(37, 0, 11, 1);
	border-color: rgba(37, 0, 11,0.2);
}